PORT=4000
NODE_ENV=development

JWT_SECRET=change_this_secret
ADMIN_USER=admin
ADMIN_PASSWORD=admin123

PROXMOX_HOST=https://192.168.1.100:8006
PROXMOX_NODE=lab
PROXMOX_TOKEN_ID=root@pam!nexolab
PROXMOX_TOKEN_SECRET=replace_with_token_secret
PROXMOX_REJECT_UNAUTHORIZED=false
